#countLabel
{
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 10em;
}
#btnContainer
{
    text-align: center;
}

.buttons
{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: indianred;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover
{
    background-color: brown;
}